<<<<<<< HEAD
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);

/*  mobile */ /*وقفت هنا */
@media (max-width: 375px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: rgb(0, 0, 0);
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: calc(7vh - 25px);
    font-weight: bold;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(7vh - 20px);
    position: absolute;
    top: 0px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 350px;
    height: 350px;
    transition: all 0.2s;
    position: relative;
    display: grid;
    transform: translateY(-80px);
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -390px;
    left: -0px;
    width: 150px;
    height: 150px;
  }

  .loca-weather {
    position: inherit;
    top: -360px;
    left: 9px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 19px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    position: inherit;
    top: -210px;
    left: -90px;
  }
  .weather-state {
    position: inherit;
    top: -200px;
    left: -90px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .Weather-muna {
    display: row;
  }
  .humidity {
    position: absolute;
    top: 250px;
    left: 260px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 270px;
    left: 280px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 250px;
    left: 170px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 270px;
    left: 160px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 252px;
    left: 49px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 270px;
    left: 60px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* mobile and tiblet */
@media (min-width: 376px) and(max-width: 767px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: rgb(0, 0, 0);
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: calc(7vh - 25px);
    font-weight: bold;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(7vh - 20px);
    position: absolute;
    top: 0px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 350px;
    height: 350px;
    transition: all 0.2s;
    position: relative;
    display: grid;
    transform: translateY(-80px);
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -390px;
    left: -0px;
    width: 150px;
    height: 150px;
  }

  .loca-weather {
    position: inherit;
    top: -360px;
    left: 9px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 19px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    position: inherit;
    top: -210px;
    left: -90px;
  }
  .weather-state {
    position: inherit;
    top: -200px;
    left: -90px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .Weather-muna {
    display: row;
  }
  .humidity {
    position: absolute;
    top: 250px;
    left: 260px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 270px;
    left: 280px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 250px;
    left: 170px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 270px;
    left: 160px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 250px;
    left: 49px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 270px;
    left: 60px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* tablet جوالي*/
@media (max-width: 768px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: rgb(0, 0, 0);
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: calc(7vh - 25px);
    font-weight: bold;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(7vh - 20px);
    position: absolute;
    top: 0px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 350px;
    height: 350px;
    transition: all 0.2s;
    position: relative;
    display: grid;
    transform: translateY(-80px);
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -390px;
    left: 100px;
    width: 150px;
    height: 150px;
  }

  .loca-weather {
    position: inherit;
    top: -360px;
    left: 3px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 17px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 19px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    position: inherit;
    top: -210px;
    left: 0px;
  }
  .weather-state {
    position: inherit;
    top: -200px;
    left: 0px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .Weather-muna {
    display: flow-root;
  }
  .humidity {
    position: absolute;
    top: 250px;
    left: 260px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 270px;
    left: 280px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 250px;
    left: 170px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 270px;
    left: 160px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 252px;
    left: 49px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 270px;
    left: 60px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* tablet and laptop */ /*done*/
@media (min-width: 769px) and (max-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: black;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(8vh - 20px);
    position: absolute;
    top: 25px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 450px;
    height: 450px;
    transition: all 0.2s;
    position: relative;
    display: grid;
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    position: relative;
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -470px;
    left: 130px;
    width: 190px;
    height: 190px;
  }

  .loca-weather {
    transform: translateY(-450px);
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 15px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    transform: translateY(-240px);
  }
  .weather-state {
    transform: translateY(-235px);
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .card.Weather-muna {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }
  .humidity {
    position: absolute;
    top: 320px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 350px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 318px;
    left: 220px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 320px;
    left: 45px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 350px;
    left: 60px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 430px;
    height: 430px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: black;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(8vh - 20px);
    position: absolute;
    top: 25px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-weight: bold;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 450px;
    height: 450px;
    transition: all 0.2s;
    position: relative;
    display: grid;
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    position: relative;
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -470px;
    left: 130px;
    width: 190px;
    height: 190px;
  }

  .loca-weather {
    transform: translateY(-450px);
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 15px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    transform: translateY(-240px);
  }
  .weather-state {
    transform: translateY(-235px);
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .card.Weather-muna {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }
  .humidity {
    position: absolute;
    top: 320px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 350px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 318px;
    left: 220px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 320px;
    left: 45px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 350px;
    left: 60px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 430px;
    height: 430px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* laptop and desktop */
@media (min-width: 1281px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: black;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(8vh - 20px);
    position: absolute;
    top: 25px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 450px;
    height: 450px;
    transition: all 0.2s;
    position: relative;
    display: grid;
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    position: relative;
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -470px;
    left: 130px;
    width: 190px;
    height: 190px;
  }

  .loca-weather {
    transform: translateY(-450px);
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 15px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    transform: translateY(-240px);
  }
  .weather-state {
    transform: translateY(-235px);
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .card.Weather-muna {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }
  .humidity {
    position: absolute;
    top: 320px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 350px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 318px;
    left: 220px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 320px;
    left: 45px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 350px;
    left: 60px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 430px;
    height: 430px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
=======
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);

/*  mobile */ /*وقفت هنا */
@media (max-width: 375px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: rgb(0, 0, 0);
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: calc(7vh - 25px);
    font-weight: bold;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(7vh - 20px);
    position: absolute;
    top: 0px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 350px;
    height: 350px;
    transition: all 0.2s;
    position: relative;
    display: grid;
    transform: translateY(-80px);
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -390px;
    left: -0px;
    width: 150px;
    height: 150px;
  }

  .loca-weather {
    position: inherit;
    top: -360px;
    left: 9px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 19px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    position: inherit;
    top: -210px;
    left: -90px;
  }
  .weather-state {
    position: inherit;
    top: -200px;
    left: -90px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .Weather-muna {
    display: row;
  }
  .humidity {
    position: absolute;
    top: 250px;
    left: 260px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 270px;
    left: 280px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 250px;
    left: 170px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 270px;
    left: 160px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 252px;
    left: 49px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 270px;
    left: 60px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* mobile and tiblet */
@media (min-width: 376px) and(max-width: 767px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: rgb(0, 0, 0);
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: calc(7vh - 25px);
    font-weight: bold;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(7vh - 20px);
    position: absolute;
    top: 0px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 350px;
    height: 350px;
    transition: all 0.2s;
    position: relative;
    display: grid;
    transform: translateY(-80px);
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -390px;
    left: -0px;
    width: 150px;
    height: 150px;
  }

  .loca-weather {
    position: inherit;
    top: -360px;
    left: 9px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 19px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    position: inherit;
    top: -210px;
    left: -90px;
  }
  .weather-state {
    position: inherit;
    top: -200px;
    left: -90px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .Weather-muna {
    display: row;
  }
  .humidity {
    position: absolute;
    top: 250px;
    left: 260px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 270px;
    left: 280px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 250px;
    left: 170px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 270px;
    left: 160px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 250px;
    left: 49px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 270px;
    left: 60px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* tablet جوالي*/
@media (max-width: 768px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: rgb(0, 0, 0);
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: calc(7vh - 25px);
    font-weight: bold;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(7vh - 20px);
    position: absolute;
    top: 0px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 350px;
    height: 350px;
    transition: all 0.2s;
    position: relative;
    display: grid;
    transform: translateY(-80px);
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -390px;
    left: 100px;
    width: 150px;
    height: 150px;
  }

  .loca-weather {
    position: inherit;
    top: -360px;
    left: 3px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 17px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 19px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    position: inherit;
    top: -210px;
    left: 0px;
  }
  .weather-state {
    position: inherit;
    top: -200px;
    left: 0px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .Weather-muna {
    display: flow-root;
  }
  .humidity {
    position: absolute;
    top: 250px;
    left: 260px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 270px;
    left: 280px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 250px;
    left: 170px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 270px;
    left: 160px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 252px;
    left: 49px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 270px;
    left: 60px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* tablet and laptop */ /*done*/
@media (min-width: 769px) and (max-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: black;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(8vh - 20px);
    position: absolute;
    top: 25px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 450px;
    height: 450px;
    transition: all 0.2s;
    position: relative;
    display: grid;
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    position: relative;
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -470px;
    left: 130px;
    width: 190px;
    height: 190px;
  }

  .loca-weather {
    transform: translateY(-450px);
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 15px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    transform: translateY(-240px);
  }
  .weather-state {
    transform: translateY(-235px);
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .card.Weather-muna {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }
  .humidity {
    position: absolute;
    top: 320px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 350px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 318px;
    left: 220px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 320px;
    left: 45px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 350px;
    left: 60px;
    font-size: 12px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 430px;
    height: 430px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: black;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(8vh - 20px);
    position: absolute;
    top: 25px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-weight: bold;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 450px;
    height: 450px;
    transition: all 0.2s;
    position: relative;
    display: grid;
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    position: relative;
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -470px;
    left: 130px;
    width: 190px;
    height: 190px;
  }

  .loca-weather {
    transform: translateY(-450px);
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 15px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    transform: translateY(-240px);
  }
  .weather-state {
    transform: translateY(-235px);
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .card.Weather-muna {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }
  .humidity {
    position: absolute;
    top: 320px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 350px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 318px;
    left: 220px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 320px;
    left: 45px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 350px;
    left: 60px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 430px;
    height: 430px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* laptop and desktop */
@media (min-width: 1281px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(26, 38, 52);
    background: linear-gradient(0deg, rgb(45, 91, 183) 0%, #62a5f1 100%);
    overflow: hidden;
  }

  .sidebar {
    height: calc(100vh - 0px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: auto;
    background-color: inherit;
    padding-top: 20px;
    transition: 0.2s;
    color: black;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }

  .sidebar a:hover {
    background-color: inherit;
  }

  .openbtn {
    font-size: calc(8vh - 20px);
    position: absolute;
    top: 25px;
    filter: drop-shadow(0 0 0.99rem #62a5f1);
    cursor: pointer;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: 10px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .main-content {
    transform: translateY(-280px);
    position: absolute;
    left: 1px;
    padding: 16px;
  }

  .card {
    width: 450px;
    height: 450px;
    transition: all 0.2s;
    position: relative;
    display: grid;
  }

  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .in-said-card {
    position: relative;
    display: grid;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .loadAnimation {
    position: inherit;
    top: -470px;
    left: 130px;
    width: 190px;
    height: 190px;
  }

  .loca-weather {
    transform: translateY(-450px);
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .temprtcher {
    font-size: 15px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
    transform: translateY(-240px);
  }
  .weather-state {
    transform: translateY(-235px);
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .card.Weather-muna {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }
  .humidity {
    position: absolute;
    top: 320px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .humidity1 {
    position: absolute;
    top: 350px;
    left: 360px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .wind {
    position: absolute;
    top: 318px;
    left: 220px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .wind1 {
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }
  .rain {
    position: absolute;
    top: 320px;
    left: 45px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .rain1 {
    position: absolute;
    top: 350px;
    left: 60px;
    font-size: 14px;
    font-family: "Noto Naskh Arabic", "Tahoma", sans-serif;
    font-weight: bold; /* سماكة الخط */
    direction: rtl;
    text-align: center;
  }

  .loader {
    margin: 0;
    border: 9px solid #3270ad5e;
    border-top: 9px solid #62a5f1;
    width: 430px;
    height: 430px;
    border-radius: 100%;
    animation: spinner 9s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    justify-self: center;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
>>>>>>> 4ca25d1f992d11c2661de768e0ef225ed0ac21e0
