@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
html,
body {
  margin: 0 ;
  padding: 0;
  width: 100% ; 
  height:100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(26,38,52);
  background: linear-gradient(0deg, rgb(45, 91, 183) 0%,
  #62a5f1 100%);
  overflow: hidden;
}

.transparent-card {
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.container {
  position: fixed;
  left: 800px;

}
.card-title{
  font-size: 16px;
  margin-top: -3px;
  justify-self: center;
  font-style: initial;
  
}

.loadAnimation {
  position: absolute;
  top: 10px;
  left: 950px;
  justify-self: center;
  width: 50px;
  height: 50px;
}

.loca-weather {
  position: absolute;
  top: 10px;
  left: 1000px;
  font-family: "Scheherazade", serif;
  font-weight: 100;
  font-style: normal;
  justify-self: center;
  color: rgb(0, 0, 0);
}

.temp_max {
  position: absolute;
  top: 10px;
  left: 900px;
  font-size: 20px;
  font-family: "Scheherazade", serif;
  color: rgb(0, 0, 0);
  flex: 1 0 5rem;
}
.description {
  position: absolute;
  top: 20px;
  left: 120px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  flex: 1 0 5rem;
}
.imagewe {
  position: relative;
  left: calc(50% - 200px);
  justify-content: center;
  justify-items: center;
  width: 400px;
}
.imagetime {
  position: absolute;
  bottom: 1px;
  justify-self: center;
  font-size: 3px;
  color: rgb(0, 0, 0);
}
.loader2 {
  margin: 0;
  border: 9px solid #3270ad5e;
  border-top: 9px solid #62a5f1;
  width: 430px;
  height: 430px;
  border-radius: 100%;
  animation: spinner 9s linear infinite;
  position: absolute;
  left: 0px;
  top: 0px;
  justify-self: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
